<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="basicHttpTrainingService" />
                <binding name="basicHttpTrainingWorkflowService1" />
                <binding name="basicHttpTrainingWorkflowService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:6092/TrainingService.svc"
                binding="basicHttpBinding" bindingConfiguration="basicHttpTrainingService"
                contract="TrainingServiceReference1.ITrainingService" name="basicHttpTrainingService" />
            <endpoint address="http://localhost:6092/TrainingWorkflowService.svc"
                binding="basicHttpBinding" bindingConfiguration="basicHttpTrainingWorkflowService1"
                contract="TrainingWorkflowService.ITrainingWorkflowService"
                name="basicHttpTrainingWorkflowService1" />
            <endpoint address="http://localhost:6092/TrainingWorkflowService.svc"
                binding="basicHttpBinding" bindingConfiguration="basicHttpTrainingWorkflowService"
                contract="TrainingWorkflowServiceReference1.ITrainingWorkflowService"
                name="basicHttpTrainingWorkflowService" />
        </client>
    </system.serviceModel>
</configuration>