<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MK.Framework.ACE" version="4.1.2" targetFramework="net46" />
  <package id="MK.Framework.AE" version="2.0.0" targetFramework="net46" />
  <package id="MK.Framework.DXE" version="2.2.2" targetFramework="net46" />
  <package id="MK.Framework.RCE" version="1.1.2" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net46" />
</packages>