<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="macrokiosk">
      <section name="accessControl" type="MK.Framework.ACE.Configuration.AccessControlSection, MK.Framework.ACE, Version=4.1.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" />
      <section name="auditControl" type="MK.Framework.AE.Configuration.AuditSection, MK.Framework.AE, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" />
      <section name="dataExport" type="MK.Framework.DXE.Configuration.DataExportSection, MK.Framework.DXE, Version=2.2.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" />
      <section name="sequenceNumber" type="MK.Framework.SNE.Configuration.SequenceNumberSection, MK.Framework.SNE, Version=1.0.1.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" />
    </sectionGroup>
  </configSections>
  <macrokiosk>
    <sequenceNumber defaultSequencer="default">
      <sequences>
        <sequence name="default" min="10000" max="99999" />
      </sequences>
    </sequenceNumber>
    <accessControl>
      <authentication connectionName="default" maxRetries="3" maxLoginHistoryToKeep="3" />
      <passwordControl maxPasswordHistoryToKeep="3" maxPasswordAge="30" expirationWarning="10" strongPassword="false" />
      <!--<passwordControl maxPasswordHistoryToKeep="3" maxPasswordAge="30" expirationWarning="10" strongPassword="false"/>-->
    </accessControl>
    <auditControl>
      <audit connectionName="default" />
    </auditControl>
    <dataExport>
      <packageDefinition packageRepository="C:\Temp\Drop\Incoming" packagePassword="p@ssw0rd" workingFolder="C:\Temp\Drop\Working" errorLogsFolder="C:\Temp\Drop\" zipExecutable="" zipArguments="a {ZipFileName} {FileName} -p{Password}" zipExtension=".zip" commandTimeout="30" />
      <smtpServer host="mail.macrokiosk.com" />
    </dataExport>
  </macrokiosk>
  <appSettings>
    <add key="pageSize" value="10" />
  </appSettings>
  <connectionStrings>
    <add name="default" connectionString="Data Source=ENGSOON;Initial Catalog=HRTrainingRequest;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="workflowStore" connectionString="Data Source=ENGSOON;database=WorkflowInstanceStore;Initial Catalog=WorkflowInstanceStore;User ID=sa;Password=CESoon1012" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.serviceModel>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true">
      <serviceActivations>
        <add factory="System.ServiceModel.Activation.ServiceHostFactory" relativeAddress="./TrainingService.svc" service="TR.Services.TrainingService" />
        <add factory="System.ServiceModel.Activities.Activation.WorkflowServiceHostFactory" relativeAddress="./TrainingWorkflowService.svc" service="TR.Workflows.TrainingWorkflowService" />
      </serviceActivations>
    </serviceHostingEnvironment>
    <services>
      <service name="TR.Services.TrainingService" behaviorConfiguration="DefaultServiceBehavior">
        <endpoint name="basicHttpTrainingService" address="" binding="basicHttpBinding" contract="TR.Services.Contracts.ITrainingService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="TrainingWorkflowService">
        <endpoint name="basicHttpTrainingWorkflowService" address="" binding="basicHttpBinding" contract="ITrainingWorkflowService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="DefaultServiceBehavior">
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true. Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="">
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true. Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
          <sqlWorkflowInstanceStore connectionStringName="workflowStore" hostLockRenewalPeriod="00:00:30" runnableInstancesDetectionPeriod="00:00:05" instanceCompletionAction="DeleteAll" instanceLockedExceptionAction="AggressiveRetry" instanceEncodingOption="GZip" />
          <workflowUnhandledException action="Cancel" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions></behaviorExtensions>
    </extensions>
    <bindings></bindings>
    <tracking>
      <profiles></profiles>
    </tracking>
  </system.serviceModel>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.2.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.2.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>
